@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0, 0%, 10%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 282, 79%, 49%;
    --primary-foreground: 282, 70%, 43%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 0 0% 20%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;

    --text-color: 0, 0%, 100%;
  }
}

@layer base {
  * {
    @apply border-border transition-all duration-300 text-white;
  }
  html body {
    @apply bg-background;
  }

  h1 {
    @apply text-[3rem] font-bold max-[800px]:text-[2.5rem];
  }

  h2 {
    @apply text-[2.7rem] font-semibold max-[800px]:text-[2.2rem];
  }

  h3 {
    @apply text-[2rem] font-medium max-[800px]:text-[1.9rem] max-[500px]:text-[1.5rem];
  }

  h4 {
    @apply text-[1.9rem] font-normal max-[800px]:text-[1.6rem];
  }

  h5 {
    @apply text-[1.7rem] font-normal max-[800px]:text-[1.3rem];
  }

  h6 {
    @apply text-[1.4rem] font-normal max-[800px]:text-[1rem];
  }

  .btn {
    padding: 0.7rem 1.2rem;
    border-radius: 0.5rem;
    line-height: 27px;
    border: 1px solid transparent;
    font-size: 1.125rem;
    font-weight: 500;
    word-wrap: break-word;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  header,
  main {
    @apply border-b border-solid border-border;
  }

  header,
  main,
  footer {
    @apply py-0 px-2 min-[500px]:px-4 min-[960px]:px-8 min-[1050px]:px-6 min-[1100px]:px-6 min-[1170px]:px-16;
  }

  main {
    @apply max-[800px]:p-0;
  }
}

/*
*******************************************************
*/

/*
*******************************************************
*/

/*
*******************************************************
*/
/* Style générale pour toutes les sections de la page d'accueil */
.hero-section,
.trust-on-us,
.our-services,
.why-us,
.testimonies,
.faqs,
.start_project {
  @apply border-x-border border-l border-solid border-r;
}
.our-services,
.why-us,
.testimonies,
.faqs,
.start_project {
  @apply max-[800px]:mx-4;
}
main .our-services .heading,
main .why-us .heading,
main .testimonies .heading,
main .faqs .heading,
main .start_project .heading {
  @apply flex flex-col justify-center items-center gap-4 px-40 py-28 max-[900px]:px-20 max-[800px]:px-[0.8rem];
}
main .our-services .heading h2,
main .why-us .heading h2,
main .testimonies .heading h2,
main .faqs .heading h2,
main .start_project .heading h2 {
  @apply text-center;
}
main .our-services .heading p,
main .why-us .heading p,
main .testimonies .heading p,
main .faqs .heading p,
main .start_project .heading p {
  @apply text-center text-[1.1rem];
}
main .our-services .content .service .container-service .paragraph p,
.why-us .content .container .container-why .paragraph p {
  @apply text-[#E6E6E6] text-[1.1rem];
}
/* Fin style générale pour toutes les sections */

/*
*******************************************************
*/

/*
*******************************************************
*/

/*
*******************************************************
*/

/* ======================== Header | NavBar ======================= */
.scroll-down header {
  transform: translate3d(0, -100%, 0);
}
header {
  @apply flex justify-between items-center bg-[#191919] text-base w-full sticky z-[9999] transition-all top-0;
}
header .logo-box a {
  @apply flex items-center justify-center pl-0 p-8;
}
header nav ul li a {
  @apply font-semibold border transition-all px-4 py-2 rounded-lg border-solid border-transparent hover:text-primary text-[1.2rem] max-[1200px]:px-[0.7rem] max-[1200px]:py-[0.3rem];
}
header nav ul li a.active {
  @apply bg-neutral-700 hover:text-inherit;
}

/****************  Navbar Mobile  ****************/
nav.nav-mobile ul li {
  @apply border-b border-border last:border-b-inherit last:border-b-0;
}
nav.nav-mobile ul li a {
  @apply block text-xl font-bold w-full pl-5 py-4 hover:bg-violet-800;
}
nav.nav-mobile ul li a.active {
  @apply bg-violet-800;
}
