/* Hero Section */
.hero-section .for-startup_and_more p .detail {
  @apply text-white bg-neutral-800 border border-solid border-[#333] max-[950px]:bg-[inherit] max-[950px]:text-base max-[950px]:p-0 max-[950px]:border-[inherit] max-[950px]:border-0;
}

/*
*******************************************************
*/
/* Our Services Section*/
main .our-services .content .service {
  @apply grid grid-rows-[repeat(2,1fr)] h-[33rem] pb-4 p-8 items-end max-[1100px]:h-[34rem] max-[950px]:h-[35rem] max-[950px]:p-4 max-[800px]:h-auto border-r-border border-r border-solid last:border-0 max-[800px]:border-r-0 max-[800px]:border-b-border max-[800px]:border-b max-[800px]:last:border-b-0 max-[800px]:flex max-[800px]:flex-col max-[800px]:gap-4;
}
main .our-services .content .service .container-service {
  @apply justify-self-start flex flex-col items-start gap-4;
  align-self: start;
}
main .our-services .content .service .container-service .icon-and-title {
  @apply flex flex-col items-start gap-4 max-[800px]:items-center max-[800px]:gap-[1.4rem] max-[800px]:flex-row;
}

main .our-services .content .service .container-service .service-icon {
  @apply border p-[0.8rem] rounded-lg border-b-[none] border-[solid];
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
main .our-services .content .service .container-service .service-icon img {
  @apply w-10;
}
main .our-services .content .service .button {
  @apply inline-flex justify-center items-center w-full;
}
main .our-services .content .service .button a {
  @apply border border-border hover:border-[rgba(121,22,163,1)] text-white w-full text-center bg-background;
}

/*
*******************************************************
*/
/* Why Us Section */
main .why-us .content .container {
  @apply grid grid-cols-[repeat(2,1fr)] max-[800px]:flex max-[800px]:flex-col max-[800px]:border-b-0 max-[800px]:border-inherit px-0 border-b-[#292929] border-b border-solid max-[800px]:border-0 last:border-b-inherit last:border-b-0;
}
main .why-us .content .container .container-why {
  @apply flex flex-col items-start gap-8 p-8 max-[900px]:p-4 border-r-[#292929] border-r border-solid last:border-r-0 max-[800px]:py-8 max-[800px]:px-16 max-[640px]:px-4 max-[800px]:border-0   max-[800px]:border-b-[#292929] max-[800px]:border-b;
}
.why-us .content .container .container-why .icon-and-title {
  @apply flex items-center gap-4 max-[450px]:items-start max-[450px]:gap-2;
}
.why-us .content .container .container-why .icon-and-title .service-icon {
  @apply border p-[0.8rem] rounded-lg border-b-[none] border-[solid];
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
.why-us .content .container .container-why .icon-and-title .service-icon .icon {
  @apply text-[2.5rem] text-primary;
}

/*
*******************************************************
*/

/* Testimonies section*/

/*
*******************************************************
*/
/* FAQ section*/
main .faqs .content .faq-container {
  @apply flex flex-col items-start border-r-[#292929] border-r border-solid last:border-r-0 max-[800px]:items-center max-[800px]:border-inherit max-[800px]:border-0 max-[800px]:border-b max-[800px]:last:border-0;
}

main .faqs .content .faq-container .faq {
  @apply flex items-start justify-between gap-8 px-8 py-12 max-[925px]:px-4 max-[925px]:py-10 max-[800px]:px-4 max-[800px]:py-8 max-[640px]:px-2 max-[640px]:py-8 max-[925px]:gap-6  w-full border-b-border border-b border-solid last:border-b-0 max-[800px]:w-full max-[800px]:gap-4 max-[800px]:justify-start max-[800px]:border-b-border;
}
main
  .faqs
  .content
  .faq-container
  .faq
  .panel1bh-header-custom
  .MuiAccordionSummary-content.MuiAccordionSummary-contentGutters {
  margin: 0 !important;
}

main .faqs .content .faq-container .faq .accordion-custom-class {
  @apply text-white p-0 shadow-none bg-transparent;
  margin: 0 !important;
}
main .faqs .content .faq-container .faq .num-faq {
  @apply border px-[0.5rem] py-[0.3rem] rounded-lg border-b-[none] border-[solid];
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
}
main .faqs .content .faq-container .faq .num-faq span {
  @apply text-[1.8rem] font-medium transition-all max-[640px]:text-xl;
}

main .faqs .contact-faq {
  @apply flex justify-center pb-6;
}
main .faqs .contact-faq a {
  @apply transition-all bg-primary hover:bg-transparent hover:border-primary;
}

/*
*******************************************************
*/
/* Start Project Section */

main .start_project .content {
  @apply flex-col justify-center items-center flex px-8 py-0 max-[700px]:p-0 border-t-[solid] border-t;
}
main .start_project .content form .name_email-box {
  @apply justify-between items-start gap-8 inline-flex max-[800px]:w-full max-[800px]:flex-col;
}
main .start_project .content form .name_email-box * {
  @apply w-full;
}
main .start_project .content form .name_email-box .name-input,
main .start_project .content form .name_email-box .email-input,
main .start_project .content form .why_contacting_us,
main .start_project .content form .ur_budget,
main .start_project .content form .message {
  @apply flex-1 border px-4 py-[1.2rem] rounded-lg border-[solid] bg-[rgba(36,36,36,0.5)];
}
main .start_project .content form .name_email-box .name-input,
main .start_project .content form .name_email-box .email-input {
  @apply flex-col justify-center items-start gap-5 inline-flex;
}
form label {
  @apply text-white text-[22px] font-medium leading-[33px];
  word-wrap: break-word;
}
form input[type="text"],
form input[type="email"],
form textarea {
  @apply text-white text-[22px] w-full resize-y px-[0.3rem] py-[0.8rem] border-b-[#292929] border-[none] border-b border-solid focus:border-b-primary;
  background: none;
  outline: none;
}
form .title:not(label.title) {
  @apply text-2xl font-semibold text-white;
}
form input::placeholder,
form textarea::placeholder {
  @apply text-[#656567] text-lg font-normal leading-[27px];
  word-wrap: break-word;
}
form .why_contacting_us .why .colab_or_other {
  /* @apply max-[800px]:mt-4; */
}
form .why_contacting_us .why .devs,
form .why_contacting_us .why .colab_or_other {
  @apply flex flex-col gap-4 px-8 max-[600px]:px-0;
}
form .why_contacting_us .dev_web-input,
form .why_contacting_us .dev_mob_and_desk,
form .why_contacting_us .colab,
form .why_contacting_us .other {
  @apply flex items-center;
}
form .why_contacting_us .dev_web-input label,
form .why_contacting_us .dev_mob_and_desk label,
form .why_contacting_us .colab label,
form .why_contacting_us .other label {
  @apply px-4 max-[500px]:px-2;
}
form .why_contacting_us .why,
form .ur_budget .min_max {
  @apply flex  py-8 flex-col gap-4 max-[800px]:gap-4 mt-8;
}

form .ur_budget .min_max .personal {
  overflow: hidden;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
form .ur_budget .min_max .personal.open {
  opacity: 1;
  height: auto;
}
form .ur_budget .min_max .personal.closed {
  opacity: 0;
  height: 0;
}

form .ur_budget .min_max .MuiSlider-markLabel {
  @apply text-white;
}
form .ur_budget .min_max .MuiSlider-thumb.MuiSlider-thumbSizeMedium {
  @apply border-[#4C4C4D] border-[5px] border-solid w-6 h-6 text-primary;
}
form .ur_budget .min_max .MuiSlider-rail {
  @apply bg-[#333333] h-[.4rem];
}
form .ur_budget .min_max .MuiSlider-track {
  @apply h-[.4rem] text-primary;
}

/* Style général des checkbox */
input[type="checkbox"] {
  @apply relative w-7 h-7 rounded border appearance-none p-1 border-[solid] checked:before:content-["\EB7B"] checked:before:absolute checked:before:-translate-x-2/4 checked:before:-translate-y-2/4 checked:before:text-primary checked:before:left-2/4 checked:before:top-2/4 bg-[#262626];
}
input[type="checkbox"]:checked::before {
  /* Code Unicode de l'icône check-line de remixicon */
  font-family: "RemixIcon";
  content: "\EB7A";
}
form .submit {
  @apply w-full self-center flex items-center justify-center;
}
form input[type="submit"] {
  @apply w-6/12 transition-all hover:border-primary disabled:cursor-not-allowed disabled:hover:border disabled:hover:border-[rgba(126,26,222,0.3)] disabled:hover:border-solid bg-primary hover:bg-primary-foreground disabled:bg-[rgba(126,26,222,.3)] max-[600px]:w-full;
}
